!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Hello #{@author.name}
    %p
      #{@user.name} just #{@type}d your movie '#{@movie.title}'.
      %br/

    %p Movierama